<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaqApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaqApplication.Properties.Settings>
            <setting name="Channel_1" serializeAs="String">
                <value>Dev1/ai0</value>
            </setting>
            <setting name="Channel_2" serializeAs="String">
                <value>Dev1/ai1</value>
            </setting>
            <setting name="SamplingRate" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxValue" serializeAs="String">
                <value>10</value>
            </setting>
        </DaqApplication.Properties.Settings>
    </userSettings>
</configuration>